/* ==========
G L O B A L
============*/

:root {
    --body-font: "Georgia", serif;
    --header-font: "Avenir";
    --logo-font: "3Dventure";

    --small-bp: 600;
    --medium-bp: 800;
    --large-bp: 1024;
    --huge-bp: 1200;

    --primary-color: #CC0644;
    --primary-bg: rgb(255, 242, 184);;
    --secondary-color: #72D0FF;
    --teritary-color: #FFDA35;
    --bg: #EFF4FF;
    --light: #ffffff;
    --dark: #00000;
    --light-grey: rgb(223, 223, 223);
    --medium-grey: rgb(139, 139, 139);
    --dark-grey: #5E5E5E;

}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--light);
    margin: 0;
    padding: 0;
    font-size: 1em;
    font-family: var(--header-font);
}

main {
    margin: 0;
    background-color: var(--light-grey);
    display: flex;
    flex-flow: column;
}

body.home {
    background: #fff6a5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffa751, #ffe259);  /* Chrome 10-25, Safari 5.1-6 */
    background-image: linear-gradient(to right top, #fffccd, #fef9bf, #fef5b0, #fef2a2, #ffee93);
    


}

.home main {
    background-color: transparent;
}

@font-face {
    font-family: "3dventure";
    src: url("fonts/3Dventure.ttf"); /* IE9 Compat Modes */
    src: url("fonts/3Dventure.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
         url("fonts/3Dventure.woff2") format("woff2"), /* Super Modern Browsers */
         url("fonts/3Dventure.woff") format("woff"), /* Pretty Modern Browsers */
         url("fonts/3Dventure.ttf")  format("truetype"), /* Safari, Android, iOS */
         url("fonts/3Dventure.svg#svgFontName") format("svg"); /* Legacy iOS */
  }

/* ================
N A V I G A T I O N 
=================*/

button {
    background-color: #fff;
}

.home .menu-nav {
    background-color: transparent;
}

.menu-nav {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    flex-wrap: wrap;
    background-color: #fff;
}

.home-button.first-page {
    display: none;
}

.home-button a {
    color: #000;
    padding: 0.5em;
}

.home-button a:hover,
.home-button a:focus {
    color: var(--primary-color);
}

.menu-nav .home-button {
    font-family: var(--logo-font);
    font-weight: 800;
    border: none;
    font-size: 2em;
    margin: 12px 0 0 12px;
    margin-right: auto;
}

.menu-nav.scrolled {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055), 0 1px 2px rgba(0, 0, 0, 0.144);
    background-color: #fff;
}

.menu-nav.scrolled .home-button {
    display: block;
}

.menu-button {
    font-family: var(--header-font);
    font-weight: 800;
    border: 1px solid black;
    font-size: 1em;
    margin: 12px;
}

.menu-ul.is-open li {
    margin: 0 auto;
    padding-top: 2em;
    text-align: center;
}

.menu-ul.is-open li a {
    color: #000;
    border-bottom: 1px solid grey;
}

.menu-ul {
    display: flex;
    flex-flow: column;
    visibility: hidden;
    height: 0;
    width: 0;
}

.menu-ul.is-open {
    visibility: visible;
    height: 100vh;
    width: 100%;
    display: block;
    position: relative;
}

nav a {
    text-decoration: none;
    color: var(--primary-color);
}

nav ul li.skip-to-main {
    display: none;
}    

body > nav {
    position: sticky;
    top: 0;
    z-index: 10;
}

.scrolled ul {
    background-color: #fff;
}

nav ul { 
    display: flex;
    justify-content: flex-end;
    flex-flow: column;
    list-style: none;
    margin: 0;
    padding: 0;
}

@media only screen and (min-width: 800px) {

    .menu-nav .home-button a:after {
        content: "eb design";
    }

    /* .menu-nav {
        background-color: #fff;
    } */

    .menu-button {
        display: none;
    }

    .menu-ul {
        display: flex;
        flex-flow: row;
        visibility: visible;
        height: auto;
        width: auto;
    }

    nav ul li:nth-child(1) {
        margin-right: auto;
    }

    nav a[href="#main"],
    nav a[href="#body"] {
        position: relative;
        display: inline-block;
        z-index:-10;
    }

    nav a[href="#main"]:focus,
    nav a[href="#main"]:active,
    nav a[href="#body"]:focus,
    nav a[href="#body"]:active {
        width: auto;
        height: auto;
        z-index: 10;
    }

    nav ul { 
        flex-flow: row;
        list-style: none;
        height: auto;
    }

    nav ul ul {
        flex-flow: column;
        position: absolute;
    }

    .home nav ul li {
        background-color: transparent;
    }

    nav ul li {
        padding: 0.5em;
        background-color: #fff
    }

    body > nav ul li a:focus {
        outline: none;
    }

    body > nav li a {
        padding: 0.5em;
        display: inline-block;
        color: var(--dark-grey);
        text-decoration: none;
        font-size: 1em;
    }

    body > nav li a::after {
        content: "";
        display: block;
        width: 0;
        height: 2px;
        background: currentColor;
        transition: width .3s;
    }

    body > nav li a:focus::after,
    body > nav li a:hover::after {
        width: 100%;
    }


    body > nav li a:focus,
    body > nav li a:hover {
        color: var(--primary-color);
    }


    body > nav ul li li {
        padding: 0;
        margin-top: 0.5em;
    }

    body > nav ul li ul li a {
        display: none;
        visibility: hidden;
    }

    body > nav ul li:focus-within ul li a,
    body > nav ul li:hover ul li a {
        display: inline-block;
        visibility: visible;
        position: relative;
    }
}

/* =============
H O M E P A G E
==============*/

h1.logo {
    font-family: var(--logo-font);
    font-size: 3em;
    margin-bottom: 0;
}

p.logo-text {
    font-family: var(--header-font);
    font-size: 1.5em;
}

p.introtext {
    font-family: var(--body-font);
    font-size: 0.8em;
    margin: 0 5em;
}

.header-wrapper {
    width: 100%;
    height: 100vh;
}

.home-header {
    display: flex;
    flex-flow: column;
    padding: 0 1em;
}

.home-section {
    background-color: #fff;
}

.home-section a,
.home-header a {
    text-decoration: none;
}

.svg-wrapper {
    display: flex;
    margin: 2em 0 3em 7em;
    justify-content: center;
    position: relative;
}

.svg-wrapper img { 
    transition: 1s ease-out;
}

button.start:hover {
    transform: translate(0, -10px)
}

.desktop-svg {
    height: 182px;
}

.tablet-svg {
    transform: translate(-266px, 57px);
    height: 134px;
}

.mobile-svg {
    position: absolute;
    height: 122px;
    transform: translate(56px, 68px);
}

.home-header button.start {
    font-family: var(--header-font);
    background-color: var(--secondary-color);
    font-weight: 800;
    font-size: 1em;
    margin: 2em 0;
    padding: 1em;
}

.home-header button.start a {
    color: white;
    font-size: 0.8em;
}

.button-caption {
    display: none;
}

@media only screen and (min-width : 800px) {

    .svg-wrapper {
        margin-left: 7em;
    }

    .tablet-svg {
        transform: translate(-314px, 39px);
        height: 157px;
    }

    .mobile-svg {
        height: 122px;
        transform: translate(64px, 68px);
    }

}
@media only screen and (min-width : 1024px) {

    .inner-wrapper {
        max-width: 1220px;
        margin: 0 auto;
        margin-left: 5em;
    }

    .h1.logo {
        font-size: 4em;
        margin-top: 1em;
        margin-bottom: 0;
    }

    .logo-text {
        font-size: 2em;
    }

    p.introtext {
        font-size: 1em;
        margin: 5em 0 1em 0;
    }

    .header-wrapper {
        width: 51%;
    }

    button.start {

    }

    .svg-wrapper {
        margin: 0;
        position: absolute;
        width: 40%;
        right: -3em;
        top: 14em;
    }

    .desktop-svg {
        height: 482px;
    }
    
    .tablet-svg {
        transform: translate(-220px, -136px);
        height: 457px;
    }
    
    .mobile-svg {
        height: 171px;
        transform: translate(-23px, -96px);
    }

    .button-caption {
        display: inline-block;
        font-family: var(--body-font);
        font-size: .9em;
        width: 24em;
        color: var(--secondary-color);
        margin-top: -1.3em;
        
    }
}

@media only screen and (min-width : 1200px) {
    .home-header {
        width: 40em;
        margin: 0 auto;
    }
    .header-wrapper {
        width: 100%;
        height: 90vh;
    }
    .inner-wrapper {
        margin: 0 auto;
        margin-right: 25em;
    }
    p.introtext {
        width: 20em;
    }
    .svg-wrapper {
        right: 7em;

    }
}

 /* 
svg path {
      fill-opacity: 0;
      stroke-width: 2;
      stroke-dasharray: 3319;
      stroke-dashoffset: 3319;
      animation: draw 5s infinite linear;
      animation-name: draw;
      animation-duration: 2s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
      animation-timing-function: linear;
 } 

 @keyframes draw {
    from {
      stroke-dashoffset: 1200;
    }
    to {
      stroke-dashoffset: 600;
    }
  } */
  /* @keyframes draw {
    90% {
      stroke-dashoffset: 0;
      stroke-width: 2;
      fill-opacity: 0;
    }
    100% {
      stroke-width: 0;
      fill-opacity: 1;
    }
  } */

/* =============
P R I N C I P L E S 
==============*/

.progress {
    position: fixed;
    top: 50px;
    z-index: 2;
    left: 0;
    width: 100%;
    height: 8px;
    background: lightgray;
}

.bar {
    position: absolute;
    height: 100%;
    width: 1px;
    transition: 1s width cubic-bezier(0.46, 0.03, 0.52, 0.96);
    background: #cc0644; /* Old browsers */
    background: -moz-linear-gradient(left, #cc0644 0%, #7287ff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #cc0644 0%,#7287ff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #cc0644 0%,#7287ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc0644', endColorstr='#7287ff',GradientType=1 ); /* IE6-9 */
}

.article-header {
    background-color: var(--primary-bg);
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    padding-bottom: 3em;
    margin-bottom: -3em;
    background-image: linear-gradient(to right top, #cdfffc, #c0ffee, #c5ffd3, #dcffb3, #fffe93);
    background-image: linear-gradient(to right top, #cdf2ff, #caf7fc, #cbfaf5, #d1fded, #dcffe4);
    background-image: linear-gradient(to right, #e6d2ff, #dbceff, #d0cbff, #c3c8ff, #b5c5ff);
    background-image: linear-gradient(to right, #ff627d, #ff6672, #ff6b67, #ff715d, #ff7752);
    background-image: linear-gradient(to right, #cc0644, #d92248, #e6344b, #f3444f, #ff5252);
}

article li p::first-letter {
    font-size: 1.5em;
    margin-right: 1px;
    color: var(--primary-color);
}

.header-title {
    padding: 1em;
    align-self: center;
}

.header-text {
    font-size: 3.5em;
    z-index: 1;
    text-shadow: 2px 3px 0px #898999;
    color: white;
}

.subheader-text {
    font-family: var(--header-font);
    font-size: 1.1rem;
    line-height: 1.6;
    font-weight: 100;
    margin: 0;
    padding: 2em;
    z-index: 1;
    width: 30em;
    margin: 0 auto;
    color: #fff;
}

.inner-article li {
    min-width: 20em;
    max-width: 40em;
    margin-top: 2em;
    color: var(--dark-grey)
}

.inner-article h1,
.inner-article p {
    color: #000;
}

.inner-article {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: white;
}


.toggle-icon {
    font-family: var(--body-font);
    font-size: 1em;
    line-height: 1.8em;
    margin: 0;
    padding: 0;
    border: none;
}

.toggle-icon:hover .button-icon,
.toggle-icon:focus .button-icon {
    border:1px solid red;
}

.toggle-icon:hover,
.toggle-icon:focus {
    color: var(--primary-color);
    outline: none;
}


.toggle-item.shown .fold-out-content {
    display: inline-block;
    background-color: #f9f9f9;
    margin: 1em;
    padding: 1em 2em;
}

.toggle-item .fold-out-content{
    display: none;
}

.content-button .button-icon {
    position: relative;
    display: inline-block;
    width: 18px;
    height: 18px;
    font-size: 11px;
    line-height: 0;
    color: #df5b57;
    vertical-align: middle;
    background-color: #f1f1f1;
    border-radius: 50%;
}

.content-item .button-icon:after {
    content: "\25bc";
    top: 10px;
    right: 3.5px;
    position: absolute;
}

.content-item.button-fold .button-icon:after {
    content: "\25b2";
    top: 8px;
    right: 3px;
    position: absolute;
}

figure img {
    width: 100%;
}

figure figcaption {
    font-family: var(--body-font);
    font-size: 0.8em;
    font-style: italic;
    line-height: 1.6;
}

.function {
    height: 40px;
    background: transparent;
    width: 128px;
    float:left;
  }
  
  .function:after {
      width: 0px;
      height: 20px;
      border-left: 20px solid red;
      border-bottom: 20px solid transparent;
      float:right;
      content:"";
  }

.article-header img {
    display: none;
    position: absolute;
}

article p {
    font-family: var(--body-font);
    font-size: 1em;
    line-height: 1.8em;
}


@media only screen and (min-width : 800px) {

    /* .article {
        display: grid;
        grid-template-rows: auto 1fr;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 2em;
    } */

    .linktext:hover {
        color: var(--primary-color)
    }

    .linktext:hover .sidenote,
    .linktext:hover .sidenote:after,
    .sidenote:hover {
        color: var(--primary-color)
    }

    .sidenote {
        text-decoration: none;
        color: var(--dark-grey);
    }

    .sidenote:before{    
        position: absolute;
        top: 0;
        left: -11px;
        width: 22px;
        height: 22px;
        background-color: #e5e4e4;
        border-radius: 50%;
        content: "";
    }

    .sidenote:after {
        position: absolute;
        top: 7px;
        left: -4px;
        width: 8px;
        height: 8px;
        background-color: #fff;
        border-radius: 50%;
        content: "";
    }

    .sidenote-text {
        position: absolute;
        right: 0;
        display: inline;
        width: 185px;
        padding-bottom: 20px;
        padding-left: 20px;
        font-size: 14px;
        font-style: italic;
        font-weight: 400;
        line-height: 1.25;
        color: #7b7b7b;
        margin-right: 9.5em;
    }

    .progress {
        top: 56px;
    }

    .principles {
        width: 100%;
        display: flex;
        flex-flow: row;
        position: relative;
    }

    .principles:after{
        -webkit-box-flex: 0;
        -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        width: 20em;
        content: "";
        margin-top: 3em;
        margin-bottom: 1em;
        background-color: var(--light-grey);
    }

    .principles div:focus-within,
    .principles div:focus {
        background-color: papayawhip;
    }

    .principles div:nth-of-type(even) {
        background-color: lightgrey;
    }

    .principles h1 {
        font-family: var(--header-font);
    }

    .inner-article {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-flex: 0;
        -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        background-color: white;
        width: calc(100% - 20em);
        padding-right: 60px;
        padding-left: 60px;
    }

    .article-header img {
        display: block;
        position: absolute;
        animation: 3s infinite alternate floating;
        opacity: 0.4;
    }

    @keyframes floating {
        0% {
            transform: translatey(0px);
        }
        50% {
            transform: translatey(-10px);
        }
        100% {
            transform: translatey(0px);
        }
    }
    
    .wolk1 {
        width: 60%;
        right: 4em;
        top: 10em;
    }
    
    .wolk2 {
        width: 50%;
    }
}

@media only screen and (min-width : 1024px) {

    .principles {
        max-width: 1101px;
        display: flex;
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        margin: 0 auto;
    }

    .wolk1 {
        width: 30%;
    }
    
    .wolk2 {
        width: 25%;
    }
}

@media only screen and (min-width : 3000px) {
    .sidenote-text {
        margin-right: 12.2em;
    }
}

.article {
    background-color: #fff;
}

.article-div {
    padding: 1.5em;
}

.article-div h1 {
    position: sticky;
    top: 56px;
    background-color: #fff;
    padding: 0.5em 0;
}

@media only screen and (min-width : 800px) {

    .article {
        display: grid;
        grid-template-rows: auto 1fr;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 5.5555vw;
        
    }
}